<div class="container">
  <div class="row">
    <h2 class="user-title">機能説明</h2>
  </div>

  <div class="row">
    <h3 class="user-title__sub" id="demo1">機能①：買い物リスト</h3>
    <div class="guide-image1"></div>
    <p class="guide-image1__text"></p>
    <div class="guide-image2"></div>
    <p class="guide-image2__text"></p>
  </div>

  <div class="row">
    <h3 class="user-title__sub" id="demo2">機能②：商品ページ</h3>
    <div class="guide-image3"></div>
    <p class="guide-image3__text"></p>
    <div class="guide-image4"></div>
    <p class="guide-image4__text"></p>
  </div>
</div>