<div class="container-fluid">
  <div class="row">
    <h2 class="user-title">機能説明</h2>
  </div>

  <div class="row">
    <h3 class="user-title__sub">機能①：買い物リスト</h3>
  </div>

  <div class="row">
    <h3 class="user-title__sub">機能②：商品ページ</h3>
  </div>
</div>