<div class="container">
  <div class="row">
    <h2 class="user-title">機能説明</h2>
  </div>

  <div class="row">
    <h3 class="guide-title" id="demo1">機能①：買い物リスト</h3>
    <div class="guide-image1"></div>
    <table class="table table-bordered">
      <tr>
        <th class="guide-th">①　新規買い物リスト作成</th>
        <td>
          名称を付けて登録すると、そのリストの中に商品を登録できます。<br>
          また、買い物先や種類に分けて複数の買い物リストを登録できます。(同名のリスト名は不可)<br>
          リスト内商品を確認したい場合は、下記のリスト名をクリックしてください。
        </td>
      </tr>
    </table>
    <div class="guide-image2"></div>
    <p>商品ページから買い物リストへ追加した場合、上記ページのようにリスト表示されます。</p>
    <table class="table table-bordered">
      <tr>
        <th>②　個数・消費日数の選択</th>
        <td>
          一度に購入する商品の個数と消費日数を入力できます。<br>
          入力した場合、③のように購入期限の表示内容が変わります。
        </td>
      </tr>
      <tr>
        <th>③　購入期限</th>
        <td>
          買い物リストから追加した状態では【初回購入品】と表示されます。<br>
          個数・消費日数の入力を行わず更新した場合は【前回購入日】が表示され、<br>
          入力後更新した場合は【購入期限】が表示されます。<br>
          なお、購入期限が表示された商品は、3日前までに購入されていない場合、通知メールが届きます。
        </td>
      </tr>
      <tr>
        <th>④　更新ボタン</th>
        <td>
          購入したらクリック願います。
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <h3 class="guide-title" id="demo2">機能②：商品ページ</h3>
    <div class="guide-image3"></div>
    <table class="table table-bordered">
      <tr>
        <th>①　商品検索</th>
        <td>
          表示可能となっている商品を検索できます。
        </td>
      </tr>
      <tr>
        <th>②　作成商品のリスト</th>
        <td>
          自分が今までに作成した商品のリストが表示されます。
        </td>
      </tr>
      <tr>
        <th>③　商品の新規作成</th>
        <td>
          買い物リストに追加したい商品が無い、紹介したい商品がある場合は商品を新規作成してください。<br>
          なお、作成した商品は非表示にもできます。買い物リストに追加だけしたい場合などにお使いください。
        </td>
      </tr>
      <tr>
        <th>④　買い物リストに追加</th>
        <td>
          買い物リストに追加したい商品が無い、紹介したい商品がある場合は商品を新規作成してください。<br>
          なお、作成した商品は非表示にもできます。買い物リストに追加だけしたい場合などにお使いください。
        </td>
      </tr>
      <tr>
        <th>⑤　お気に入りリスト</th>
        <td>
          お気に入りリストへ追加します。気になった商品を確認する場合などにお使いください。
        </td>
      </tr>
    </table>
    <div class="guide-image4"></div>
    <table class="table table-bordered">
      <tr>
        <th>⑥　コメント機能</th>
        <td>
          他ユーザーが作成した商品には評価欄が設けられます。<br>
          実際に使用してみた感想などあればご記入願います。
        </td>
      </tr>
    </table>
  </div>
</div>