<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>買い物リスト内の購入期限が近づいてまいりました。</h2>

    <p>下記リンクより先より、該当商品の確認をお願いいたします。</p>
    <%= link_to "買い物リスト", users_buy_lists_path, class: "btn btn-primary" %>

    <p>今後とも Household_checker をよろしくお願いいたします。</p>
  </body>
</html>
