<div class="container">
  <div class="row">
    <h2 class="user-title">お気に入り一覧</h2>
  </div>

  <div class="row">
    <div class="col-lg-6 mx-auto" id="favorites_index">

      <%= render 'users/favorites/favorite_product', favorites: @favorites %>

    </div>
  </div>

  <%= paginate @favorites, class: "paginate" %>

</div>