<div class="container">
  <div class="row">
    <h2>お気に入り一覧</h2>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">商品</th>
          <th>買い物リスト</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @favorites.each do |f| %>
            <td><%= attachment_image_tag f.product, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: '50x50' %></td>
            <td><%= f.product.name %></td>
            <td>
              <% if f.product_by?(current_user) %>
                <%= link_to "お気に入りから削除", users_favorite_path(id: f.id, product_id: f.product.id), method: :delete, class: "btn btn-info" %>
              <% end %>
            </td>
            <td></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
