<div class="container-fluid">
  <div class="row">

    <%= render 'users/products/search_list', genres: @genres, q: @q %>

    <div class="col-lg-9">
      <h2>商品情報変更</h2>

      <%= render 'users/products/product_form', product: @product %>

    </div>
  </div>
</div>