// Place all the styles related to the admin::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-create {
  margin: 0 auto 30px;

  &__list {
    margin-right: 5px;
  }
}

.genre-list {
  margin: 0 auto;

  &__column {
    width: 150px;
  }
}

.genre-update {
  margin: 0 auto 30px;

  &__list {
    margin-right: 10px;
  }
}
