// Place all the styles related to the admin::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-search {
  margin: 0 auto 40px;

  &__field {
    margin-right: 20px;
  }
}

.review-list {
  &__product {
    width: 15%;
  }

  &__users {
    width: 10%;
  }

  &__create {
    width: 10%;
  }

  &__scores {
    width: 13%;
  }

  &__comments {
    width: 32%;
  }

  &__status {
    width: 20%;
  }
}
