// Place all the styles related to the users::BuyLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 共通
.title-create {
  margin-bottom: 20px;
}

// show
.far {
  color: green;
  font-size: 25px;
  margin-top: 13px;
}

.th-width {
  width: 100px;
}
