// Place all the styles related to the users::Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-less {
  text-align: center;
}
