// Place all the styles related to the users::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  height: 600px;
  width: 100%;
  margin: 100px 0 50px 0;
  background-image: image-url("top1.jpg");
  background-size: cover;
  background-position: top right;

  &__text {
    width: 50%;
    height: 100%;
    margin-left: 20px;
    background-color: rgba( 0, 0, 0, 0.5);
    text-align: center;
    padding-top: 220px;
  }
}

.sub-visual1 {
  height: 600px;
  width: 100%;
  margin-bottom: 50px;
  background-image: image-url("top2.jpg");
  background-size: cover;
  background-position: bottom left;

  &__text {
    width: 40%;
    height: 100%;
    margin-left: auto;
    background-color: rgba( 0, 0, 0, 0.5);
    text-align: center;
    padding-top: 200px;
  }
}

.sub-visual2 {
  height: 600px;
  width: 100%;
  margin-bottom: 50px;
  background-image: image-url("top3.jpg");
  background-size: cover;
  background-position: top right;

  &__text {
    width: 40%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5);
    text-align: center;
    padding-top: 200px;
  }
}

.home-btn {
  height: 200px;
  width: 100%;

  &__text {
    text-align: center;
    margin-bottom: 50px;
  }

  &__btn {
    text-align: center;
  }
}

.top-title {
  color: #fff;

  &__sub {
    color: #fff;
    padding-bottom: 20px;
  }
}

.top-text {
  color: #fff;
  margin-top: 20px;
}
