// Place all the styles related to the users::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// _search_list
.search-title {
  text-align: center;
  margin: 20px 0;
}

.product-button {
  text-align: center;
  margin-top: 30px;
}

// index
.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin: 5px;
    width: 242px;
  }
}

.tablet-search {
  display: none;
}

// show
.product-name {
  padding-bottom: 20px;
}

.product-introduction {
  height: 200px;
  border: 1px solid #000000;
}

.product-show {
  margin-left: 30px;
}

.review-create {
  padding: 50px 0 20px 0;
  border-bottom: 1px solid #000000;

  &__title {
    margin: 20px 0 20px 20px;
  }
}

.review-list {
  &__user {
    padding-top: 10px;
    border-top: 1px solid #adadad;
  }

  &__title {
    margin: 20px 0 20px 20px;
  }

  &__score {
    margin: 20px 0 20px 20px;
  }

  &__comment {
    padding-bottom: 10px;
  }
}

// _product_form
.product-create {
  margin: 0 20px 0 20px;
}

// レスポンシブ対応
@media screen and (max-width: 991px) {
  .pc-search {
    display: none;
  }

  .tablet-search {
    display: block;
  }
}
